# Default owners
*                                                       @rsevilla87 @vishnuchalla @smalleni
*                                                       @kube-burner/maintainers @kube-burner/ocp-perfscale 
# web-burner owners
/cmd/config/web-burner                                  @kube-burner/ocp-perfscale-telco
/cmd/config/rds-core                                    @kube-burner/ocp-perfscale-telco
/pkg/workloads/web-burner.go                            @kube-burner/ocp-perfscale-telco
/pkg/workloads/rds-core.go                              @kube-burner/ocp-perfscale-telco
