apiVersion: v1
kind: Pod
metadata:
  name: test-pod-{{.Replica}}
spec:
  containers:
  - name: webserver
    image: quay.io/cloud-bulldozer/sampleapp:latest
    resources:
      requests:
        memory: "10Mi"
        cpu: "10m"
    imagePullPolicy: IfNotPresent
    ports:
     - containerPort: 8080
       protocol: TCP
    securityContext:
       privileged: false
