# This workload has special hardware requirements.
# In order to meet those requirements we have added CI tests in e2e-benchmarking: 
# https://github.com/openshift/release/tree/master/ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking
---
global:
  gc: {{.GC}}
  gcMetrics: {{.GC_METRICS}}
  measurements:
    - name: podLatency
      thresholds:
        - conditionType: Ready
          metric: P99
          threshold: 15s
metricsEndpoints:
{{ if .ES_SERVER }}
  - indexer:
      esServers: ["{{.ES_SERVER}}"]
      insecureSkipVerify: true
      defaultIndex: {{.ES_INDEX}}
      type: opensearch
{{ end }}
{{ if .LOCAL_INDEXING }}
  - indexer:
      type: local
      metricsDirectory: collected-metrics-{{.UUID}}
{{ end }}

jobs:
  - name: egressip-server-check
    namespace: egressip-server-check
    jobIterations: 1
    namespacedIterations: false
    podWait: true
    maxWaitTimeout: 2m
    waitWhenFinished: true
    preLoadImages: false
    skipIndexing: true
    objects:
      - objectTemplate: server-check-pod.yml
        replicas: 1
        inputVars:
          extServerHost: {{.EXTERNAL_SERVER_IP}}
          numPorts: {{ min .JOB_ITERATIONS 60 }}

  - name: egressip
    namespace: egressip
    jobIterations: {{.JOB_ITERATIONS}}
    qps: {{.QPS}}
    burst: {{.BURST}}
    namespacedIterations: true
    podWait: false
    waitWhenFinished: true
    preLoadImages: false
    preLoadPeriod: 15s
    namespaceLabels:
      security.openshift.io/scc.podSecurityLabelSync: false
      pod-security.kubernetes.io/enforce: privileged
      pod-security.kubernetes.io/audit: privileged
      pod-security.kubernetes.io/warn: privileged
      openshift.io/cluster-monitoring: true
    objects:

      - objectTemplate: prometheus_role.yml
        replicas: 1

      - objectTemplate: prometheus_role_binding.yml
        replicas: 1
      
      - objectTemplate: pod_monitor.yml
        replicas: 1

      - objectTemplate: egressip-obj.yml
        replicas: 1
        inputVars:
          eipAddresses: {{.EIP_ADDRESSES}}
          addrPerIteration: {{.ADDRESSES_PER_ITERATION}}
          
      - objectTemplate: deployment-client.yml
        replicas: 1
        inputVars:
          podReplicas: 2
          eipAddresses: {{.EIP_ADDRESSES}}
          addrPerIteration: {{.ADDRESSES_PER_ITERATION}}
          extServerHost: {{.EXTERNAL_SERVER_IP}}
