apiVersion: v1
kind: Pod
metadata:
  name: server-check
spec:
  containers:
  - name: check
    image: busybox:1.36
    command: ["sh", "-c", "nc -w 5 -z {{.extServerHost}} 9002 && sleep infinity"]
    resources:
      requests:
        memory: "10Mi"
        cpu: "10m"
  restartPolicy: Never
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/worker
            operator: Exists
          - key: node-role.kubernetes.io/infra
            operator: DoesNotExist
          - key: node-role.kubernetes.io/workload
            operator: DoesNotExist
