name: CI tests
on:
  workflow_call:
  workflow_dispatch:
  pull_request_target:
    types: [opened, edited, synchronize, reopened, labeled]
    branches:
      - master
      - main

jobs:
  codeql:
    uses: ./.github/workflows/codeql.yml

  lint:
    uses: ./.github/workflows/linters.yml

  build-matrix:
    uses: ./.github/workflows/build-matrix.yml

  build:
    uses: ./.github/workflows/builders.yml

  tests:
    needs: build
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ok-to-test') }}
    uses: ./.github/workflows/test-ocp.yml
    secrets: inherit